h1{
    background-image: url('../imagfes/temp.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    font-size:70px;
    font-family:impact;
    text-align:center;
    color:transparent;
    background-clip:text;
    -webkit-background-clip:text;
    letter-spacing:5px;
}
body{
    background-color:rgb(135,206,235); 
}
label{
color:rgb(255, 234, 234);
font-size: 25px;
text-align: justify;
}
fieldset{
    width:500px;
    height:650px;
    background-color: rgb(78, 78, 78);
    background-repeat:no-repeat;
    background-size: cover;
    margin-left:500px;
    border-radius: 10px;
}
.form{
    margin-top:-55px;
}
.desc{
width: 300px;
height:80px;
border-radius: 20px;
color:rgb(35, 33, 33);
font-family: "Times New Roman";
border:none;
cursor: text;
}
.desc:hover{
    outline: 4px solid rgba(51, 49, 49, 0.5);   
}
.class{
    width:50px;
    height:50px;
    border-radius: 10px;
    font-size:30px;
}
.class:hover{
    outline: 4px solid rgba(51, 49, 49, 0.5);
}
.school{
width:300px;
height:50px;
border-radius: 10px;
font-size:20px;
}
.school:hover{
    outline: 4px solid rgba(51, 49, 49, 0.5);
}
.age{
    width:50px;
    height:50px;
    border-radius: 10px;
    font-size:20px;
    text-align: center;
    }
.age:hover{
        outline: 4px solid rgba(51, 49, 49, 0.5);
    }
    .name{
        width:300px;
        height:50px;
        border-radius: 10px;
        font-size:20px;
        }
        .name:hover{
            outline: 4px solid rgba(51, 49, 49, 0.5);
        }
        .radio{
            transform: scale(1.5);
            cursor: pointer;
        }

        .pass{
            width: 300px;
            height:40px;
            border-radius: 20px;
            color:rgb(35, 33, 33);
            font-family: "Times New Roman";
            border:none;
            cursor: text;
            }
            .pass:hover{
                outline: 4px solid rgba(51, 49, 49, 0.5);   
            }
.mf{
    color:rgb(255, 255, 255);
}
.submit{
    height: 50px ;
width:180px;
border-radius:60px;
font-size:30px;
background-color: rgb(38, 107, 177);
text-align: center;
font-family:Calibri;
font-size:27;
transition: background-color 2s,color 4s;
border: none;
cursor:pointer;
color:white;
margin-left: 685px;
margin-top:20px;
}
.submit:hover{
    outline: 4px solid rgba(51, 49, 49, 0.5);
}
.submit:active{
    outline: 4px solid rgba(26, 26, 26, 0.5);
    opacity:0.7;
}
